2017 Scouting Collection/2017 Scouting Collection.xcodeproj/xcuserdata/*
2017 Scouting Collection/2017 Scouting Collection.xcworkspace/xcuserdata/*
2017 Scouting Collection/2017 Scouting Collection.xcworkspace/xcshareddata/*
